.h1, h2, h3, h4, h5 {
    font-family: $title-font-family;

    @include respond(tab-land) {

    }
    @include respond(tab-land) {

    }
    @include respond(tab-land) {

    }
    @include respond(tab-land) {

    }
    @include respond(tab-land) {

    }
}

p, span {
    font-family: $description-font-family;
}

.heading-primary {
    
}


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-secondary {

}

.heading-tertiary {

}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}